* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 60%;
}

.links-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #f6761f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(100%);
  transition: 0.5s;
}

.links-wrapper.active {
  transform: translate(0);
}

.links ul,
.nav-cta ul {
  list-style: none;
  text-align: center;
}

.links ul a,
.nav-cta ul a {
  display: block;
  text-decoration: none;
  color: black;
  opacity: 0.9;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}

.burger {
  position: relative;
  width: 35px;
  height: 20px;
  transition: 0.2s;
  z-index: 999;
}
.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s,
    transform 0.2s 0.4s;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  width: 80%;
  top: calc(50% - 2px);
}

.burger span:nth-child(3) {
  bottom: 0;
}
.burger.active {
  transform: rotate(-90deg);
}
.burger.active span:nth-child(1) {
  top: calc(50% - 2px);
  transform: rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  bottom: calc(50% - 2px);
  transform: rotate(-45deg);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0 auto;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}

.text-wrapper .second {
  background-color: #ffb948;
  padding: 0 20px;
  text-align: center;
  margin-top: 10px;
}

.hero-section button {
  margin: 40px auto;
  text-align: center;
  font-size: 16px;
  height: 40px;
  width: 170px;
  border: 1px solid #f6761f;
  background-color: #f6761f;
  color: white;
  border-radius: 20px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-wrapper img {
  width: 80%;
  max-width: 600px;
}

.about,
.clients,
.cooperation,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0 auto;
}

.about h2,
.clients h2,
.contact h2 {
  font-size: 31px;
  font-weight: 900;
}

.about h2 span,
.clients h2 span {
  color: #f6761f;
}

.about-description,
.clients-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  text-align: center;
}
.about-paragraph,
.clients-description p {
  margin: 40px auto;
  line-height: 31px;
}
.presentation-wrapper {
  display: flex;
}

.presentation-link {
  display: inline-block;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border: 1px solid #f6761f;
  background-color: #f6761f;
  border-radius: 20px;
  color: white;
  margin-right: 20px;
}

.presentation-wrapper img {
  width: 40px;
}

.about-image,
.clients-image {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.about-image img,
.clients-image img {
  width: 80%;
  max-width: 600px;
}

.services,
.werbeo,
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0 auto;
}

.services h2,
.werbeo h2 {
  font-size: 31px;
  font-weight: 900;
}
.services h2 span,
.werbeo h2 span {
  color: #f6761f;
  border-bottom: #f6761f solid 2px;
}
.card-container {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.single-container {
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 320px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.single-container h3 {
  font-size: 35px;
  font-weight: 700;
}
.single-container p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.werbeo img {
  margin-top: 100px;
  width: 80%;
  max-width: 600px;
}

.offer h2 {
  font-size: 31px;
  font-weight: 900;
}
.offer h2 span {
  color: #f6761f;
  border-bottom: #f6761f solid 2px;
}

.offer-container-wrapper {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.offer-container {
  /* border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
  width: 300px;
  height: 360px;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-container p {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.offer-container a {
  text-decoration: none;
  color: black;
}
.offer-container img {
  width: 80px;
  padding: 40px 0;
}

.cooperation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0 auto;
}

.title-wrapper {
  width: 400px;
}
.cooperation h3 {
  font-size: 31px;
  font-weight: 900;
  background-color: #ffb948;
  text-align: center;
}
.cooperation p {
  text-align: center;
  margin-top: 20px;
  font-size: 24;
  font-weight: 700;
}

.items-wrapper {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.single-item {
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-item img {
  margin-top: 30px;
}
.single-item p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0 50px;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 200px auto;
}
.brand img {
  max-width: 400px;
}
.brand p {
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  padding-top: 20px;
}

.contact h2 {
  text-align: center;
}

.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact p {
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}
.contact button {
  margin: 40px auto;
  text-align: center;
  height: 40px;
  width: 170px;
  border: 1px solid #f6761f;
  background-color: #f6761f;
  color: white;
  border-radius: 20px;
}

.form-wrapper {
  margin-top: 100px;
  width: 1000px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "name email"
    "phone subject"
    "message message";
  column-gap: 20px;
  row-gap: 15px;
}

.name {
  display: flex;
  flex-direction: column;
  grid-area: name;
}

.email {
  display: flex;
  flex-direction: column;
  grid-area: email;
}
.phone {
  display: flex;
  flex-direction: column;
  grid-area: phone;
}

.subject {
  display: flex;
  flex-direction: column;
  grid-area: subject;
}
.message {
  display: flex;
  flex-direction: column;
  grid-area: message;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  width: 170px;
  background-color: #f6761f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #ffb948;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.single {
  width: 200px;
  margin: 50px 100px;
}
.single h3 {
  padding-bottom: 20px;
}
.footer-contact img {
  width: 60%;
}

.footer-serv ul {
  list-style: none;
}
@media only screen and (min-width: 1280px) {
  .navigation {
    height: 100px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .logo {
    height: 80%;
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 60%;
  }

  .burger {
    display: none;
  }

  .links-wrapper {
    position: static;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transform: translate(0);
  }
  .links ul,
  .nav-cta ul {
    display: flex;
  }
  .links ul a,
  .nav-cta ul a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px;
  }

  .links ul {
    margin-right: 80px;
  }

  .nav-cta ul li a {
    display: inline-block;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #f6761f;
    border-radius: 20px;
  }

  .nav-cta ul li:nth-child(1) a {
    color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    margin-right: 20px;
  }
  .nav-cta ul li:nth-child(1) a:hover {
    background-color: #ffb948;
    border: 1px solid #ffb948;
    color: white;
  }
  .nav-cta ul li:nth-child(2) a {
    background-color: #f6761f;
    color: white;
    transition: 0.3s;
  }
  .nav-cta ul li:nth-child(2) a:hover {
    background-color: #ffb948;
    border: 1px solid #ffb948;
    color: white;
  }
  .hero-section {
    flex-direction: row;
    margin: 180px auto 0 auto;
  }

  .text-wrapper {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
  }
  .text-wrapper p {
    font-size: 56px;
  }

  .hero-section button {
    margin: 40px 0;
  }

  .img-wrapper {
    width: 50%;
    justify-content: flex-end;
  }
  .about {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 300px auto 0 auto;
  }
  .about-description,
  .clients-description {
    align-items: flex-start;
    width: 80%;
    max-width: 600px;
    text-align: left;
  }

  .about-paragraph,
  .clients-description p {
    font-size: 19px;
    font-weight: 400;
  }

  .about-image,
  .clients-image {
    margin-top: 0;
  }
  .about-image img,
  .clients-image img {
    width: 100%;
  }
  .services,
  .werbeo,
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 300px auto 0 auto;
  }
  .clients {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 300px auto 0 auto;
  }

  .werbeo img {
    width: 100%;
    max-width: 1000px;
  }
}
